/*  Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  End of Reset CSS  */

/*  Custom  */

body {   
  font: 300 16px/22px "微软雅黑", "宋体","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif; 
} 

div {
  display: block;
}
/*  Grid  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container, .grid {
  margin: 0 auto;
  width : 1000px;
}

.fluid-container {
  margin: 0 auto;
  width: 100%;
}
.container {
  padding: 10px;
}

.col-1 {
  width: 6.666666%;
}
.col-2 {
  width: 13.333333%;
}
.col-3 {
  width: 20%;
}
.col-4 {
  width: 26.666666%;
}
.col-5 {
  width: 33.333333%;
}
.col-6 {
  width: 40%;
}
.col-7 {
  width: 46.666666%；
}
.col-8 {
  width: 53.333333%;
}
.col-9 {
  width: 60%;
}
.col-10 {
  width: 66.666666%;
}
.col-11 {
  width: 73.333333%;
}
.col-12 {
  width: 80%;
}
.col-13 {
  width: 86.666666%;
}
.col-14 {
  width: 93.333333%;
}
.col-15 {
  width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .grid {
  padding: 10px;
}

/*  Clearfix  */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*
    Typography
*/

h1, h2, h3, h4, {
  color: #000;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 38px;
}

h3 {
  font-size: 16px;
  line-height: 26px
}

h4 {
  font-size: 14px;
}

h5 {
  color: #a9b2b9;
  font-size: 12px;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

cite, em {
  font-style: italic;
}

/*  Link  */

a {
  text-decoration: none;
  color: #303030;

}

a:hover {
  color: #6e6e6e;
}

/*  Navagation  */

.nav a {
  font-weight: bold;
  font-size: 20px;
}

.nav li {
  display: block;
  padding: 10px 10px; 
  text-align: center;
}

.nav-dropdown-list {
  display: none;
  position: absolute;
}

.nav-dropdown-list a {
  font-size: 18px;
}

.nav-dropdown-list li {
  padding: 10px 0;
  display: block;
  background-color: #fff;
  vertical-align: text-top;
}

/*  Header  */
#menu {
   border-bottom: 2px solid #cfcfcf;
}
#header {
  padding:0;
}
.primary-nav>li {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16.666666%;
}  

.primary-nav>li:hover {
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

.primary-nav .nav-dropdown-list {
  width: 110px;
  margin-left: 18.333333px;
}

.primary-nav .nav-dropdown-list {
  padding-top: 10px;
}

/*
.nav-dropdown:hover ul{
  display: block;
}
*/

.primary-nav .nav-dropdown-list li {
  border-bottom: 1px solid #cfcfcf;
}
.primary-nav .nav-dropdown-list li:first-child {
  background: none;
  padding-top: 20px;
}

/*  Content   */

#content {
  padding: 20px 0;
}

/*  Aside Navagation  */

#aside {
  float: left;
}

#aside-nav-container {
  border-top: 2px solid #cfcfcf;
  text-align: center;
  width: 160px;
}

.aside-nav {
  padding: 20px 15px 10px 15px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.aside-nav a {
  font-size: 18px;
  font-weight: bold;
}

.aside-nav li {
  width: 100%;
}
.aside-nav li:hover {
  background: url(../image/icon/right_arrow_16px.png) 95% 50% no-repeat;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.aside-nav .nav-dropdown-list {
  width: 100px;
  margin-left: 119px;
  margin-top: -34px;
}

.aside-nav .nav-dropdown-list a {
  font-size: 16px;
}
.aside-nav .nav-dropdown-list li {
  display: block;
  padding: 10px 0;
  height: 45px;
}

/*  List Head   */

#list {
  float: left;
}

#list-head-container {
  border-bottom: 2px solid #cfcfcf;
  padding: 15px 10px;
  background: url(../image/icon/bullet_list_16px.png) 0 50% no-repeat;
}
#list-head-container h2 {
  padding: 0 30px;
}

/* List Content   */
.list {
  line-height: 20px;
}
.list li {
  margin: 5px 0;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px dashed #cfcfcf;
  background: url(../image/icon/right_solid_arrow_16px.png) 0% 50% no-repeat;
}
.list span {
  float: right;
}