/*  Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  End of Reset CSS  */

/*  Custom  */

body {   
  font: 300 16px/22px "微软雅黑", "宋体","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif; 
} 

div {
  display: block;
}
/*  Grid  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container, .grid {
  margin: 0 auto;
  width : 1000px;
}

.fluid-container {
  margin: 0 auto;
  width: 100%;
}
.container {
  padding: 10px;
}

.col-1 {
  width: 6.666666%;
}
.col-2 {
  width: 13.333333%;
}
.col-3 {
  width: 20%;
}
.col-4 {
  width: 26.666666%;
}
.col-5 {
  width: 33.333333%;
}
.col-6 {
  width: 40%;
}
.col-7 {
  width: 46.666666%;
}
.col-8 {
  width: 53.333333%;
}
.col-9 {
  width: 60%;
}
.col-10 {
  width: 66.666666%;
}
.col-11 {
  width: 73.333333%;
}
.col-12 {
  width: 80%;
}
.col-13 {
  width: 86.666666%;
}
.col-14 {
  width: 93.333333%;
}
.col-15 {
  width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .grid {
  padding: 10px;
}

/*  Clearfix  */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*
    Typography
*/

h1, h2, h3, h4 {
  color: #000;
}

p {
  text-indent: 2em;
  font-size: 14px;
}
h1 {
  font-size: 38px;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  line-height: 38px;
}

h3 {
  font-size: 18px;
  line-height: 34px;
}

h4 {
  font-size: 14px;
}

h5 {
  color: #a9b2b9;
  font-size: 12px;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

cite, em {
  font-style: italic;
}

small {
  color: black;
  font-size: 8px;
}

/*  Link  */

a {
  text-decoration: none;
  color: #000;
}


/*  Navagation  */

.nav a {
  font-size: 20px;
}

.nav li {
  display: block;
  padding: 0 10px; 
  text-align: center;
}

.nav-dropdown {
  position: relative;
}
.nav-dropdown-list {
  display: none;
  position: absolute;
  z-index: 100;
}

.nav-dropdown-list a {
  font-size: 18px;

}

.nav-dropdown-list li {
  padding: 10px 10px;
  display: block;
  background-color: #fff;
}

/* BackToTop  */
#backtotop {
  padding: 10px 20px;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 0;
  cursor: pointer;
  text-align: center;
  z-index: 9999;
  background-color: #e5e5e5;
}

#backtotop:hover {
  background-color: #cfcfcf;
  text-decoration: underline;
}
/*  End of BackToTop  */

/*  Header  */

#header {
  background-color: #39f;
}
#topimg h1 {
  padding: 40px 10px 0 10px;
  margin-left: 200px;
}

#topimg h2 {
  padding:0 10px 40px 15px;
  margin-left: 200px;
}

#menu {
   border-bottom: 1px solid #cfcfcf;
   background-color: #fff;
}

#header {
  padding:0;
}

.primary-nav {
  padding: 0;
  float: right;
}
.primary-nav>li {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: top;
  width: 140px;
}  

.primary-nav>li:hover {
  background-color: #e5e5e5; 
}

.primary-nav .nav-dropdown-list {
  width: 140px;
  top: 100%;
  left: 0%;
}

.primary-nav .nav-dropdown {
  background: url(../image/icon/arrow_down_16px.png) 125px 50% no-repeat;
  background-size: auto 6px;
}

.primary-nav .nav-dropdown-list li {
  transition: background-color 0.5s;
  background-color: #e5e5e5;
}
.primary-nav .nav-dropdown-list li:first-child {
  border-top: 1px solid #cfcfcf;
}
.primary-nav .nav-dropdown-list li:hover{
  background-color: #cfcfcf; 
}


/*  Content   */

#content {
  padding: 20px 0;
  background-color: #fff;
}

/*  Footer  */

#footer {
  text-align: center;
  background-color: #ededed;
  padding: 20px 0;
}


/*  Aside Navagation  */

#aside {
  float: left;
}

#aside-nav-container {
  text-align: center;
  width: 150px;
  position: relative;
}

.aside-nav {
  padding: 10px 0;
  width: 140px;
  text-align: center;
  margin: 0;
}

.aside-nav a {
  font-size: 18px;
  color: #000;
}

.aside-nav>li {
  border-right: 1px solid #e5e5e5;
}
.aside-nav li {
  width: 100%;
  padding: 10px 0;
}
.aside-nav>li:hover {
  background-color: #e5e5e5;
}

.aside-nav .nav-dropdown {
  background: url(../image/icon/arrow_right_16px.png) 90% 50% no-repeat;
  background-size: 6px auto;
}
.aside-nav .nav-dropdown-list {
  width: 130px;
  left: 100%;
  top: 0%;
}

.aside-nav .nav-dropdown-list a {
  font-size: 16px;
}
.aside-nav .nav-dropdown-list li {
  padding: 10px 0;
  height: 43px;
  border-left: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  transition: background-color 0.5s;
}
.aside-nav .nav-dropdown-list li:hover {
  background-color: #cfcfcf
}

/*  List Head   */

#list {
  float: left;
}

#list-head-container {
  border-bottom: 2px solid #cfcfcf;
  padding: 10px 0;
  background: url(../image/icon/bullet_list_16px.png) 0 50% no-repeat;
}
#list-head-container h2 {
  padding: 0 30px;
  font-weight: bold;
  font-size: 22px;
}

/* List Content   */
.list {
  line-height: 20px;
  padding: 0 15px;
}
.list li {
  position: relative;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px dashed #e5e5e5;
  background: url(../image/icon/right_solid_arrow_16px.png) 0% 50% no-repeat;
}

.list h3 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  transition: background-color 0.5s;
}
.list h3:hover{
  background-color: #e5e5e5;
}
.list span {
  position: absolute;
  left: 90%;
  padding: 7px 0;
}

/*  detail   */

.back {
  position: absolute;
  background: url(../image/icon/left_arrow_16px.png) 0% 50% no-repeat;
  font-size: 8px;
  left: 90%;
  top:50%;
}

.back a {
  color: #a9b2b9;
}

.back a:hover {
  text-decoration: underline;
}

#detail {
  float: left;
}

#detail h2 {
  font-weight: bold;
}

#detail-head-container {
  border-bottom: 2px solid #cfcfcf;
  padding: 10px;
  position: relative;
}

#detail-head-container a{
  padding-left: 15px;
  padding-top: 10px;
}

#detail-content-container {
  padding: 10px;
}
#detail-content-container h3 {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}
#detail-content-container h5 {
  text-align-last: center;
}



