@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; list-style:none;font-size:12px;}
body,html{height:100%;}
img{border:0;}
a{color:#505050; text-decoration:none;}
a:hover{color:#005ca1; text-decoration:none;}
button{zoom:1;cursor:pointer;display:inline-block;border:0;}
#content{width:980px;margin:0 auto;}
.left{width:267px;float:left;}
.box{border:1px solid #bdbcbd;width:267px;text-align:center;color:#626262;margin-bottom:10px;}
#loginpanel input{width:170px;line-height:25px;height:25px;border:1px solid #a0a0a0;background-color:transparent;}
#loginpanel h2{background:url(../images/bg/index_login_title.jpg) center center no-repeat;height:50px;margin-bottom:10px;}
#lb_usr,#lb_pwd{height:40px;line-height:40px;}
.usr_lb,.pwd_lb{width:40px;text-align:right;padding-right:5px;position:relative;top:-5px;display:inline-block;}
#lostpwd{text-align:left;padding-left:72px;height:20px;}
#lb_btn{height:55px;padding:5px 0 0 47px;text-align:left;}
#lb_btn button{width:73px;height:29px;margin:0 0 0 25px;}
#loginbtn{width:73px;height:29px;}
.Btn_Submit{background:url(../images/btn/index_loginbtn.gif) 0 0 no-repeat;}
.Btn_Submit:hover{background:url(../images/btn/index_loginbtn.gif) 0 -29px no-repeat;}
.Btn_Submit_dis{background:url(../images/btn/index_loginbtn.gif) 0 -76px no-repeat;}
.Btn_Signin{background:url(../images/btn/index_loginbtn.gif) -73px 0 no-repeat;}
.Btn_Signin:hover{background:url(../images/btn/index_loginbtn.gif) -73px -29px no-repeat;}
.Btn_Signin_dis{background:url(../images/btn/index_loginbtn.gif) -73px -58px no-repeat;}
.logout button{width:117px;height:29px;margin:25px 0 25px 0;}
.Btn_Logout{background:url(../images/btn/index_loginbtn.gif) -146px 0 no-repeat;}
.Btn_Logout:hover{background:url(../images/btn/index_loginbtn.gif) -146px -29px no-repeat;}
#funcarea{margin-top:20px; text-align:center;}
#funcarea a,.Telephone{width:220px;height:50px;margin:15px 0 0 0;display:inline-block;}
.Btn_Resume{background:url(../images/btn/btn.jpg) 0 0 no-repeat;}
.Btn_Test{background:url(../images/btn/btn.jpg) 0 -50px no-repeat;}
.Telephone{background:url(../images/btn/btn.jpg) 0 -100px no-repeat;display:inline-block;margin-bottom:20px;}
.right{width:693px;margin-left:20px;float:right;}
.list{width:693px;float:left;}
.list2{margin-top:15px;}
.listtitle{width:693px; height:25px; border-bottom:1px solid #c7c8c7;}
.listtitle h1{height:25px; float:left; font-size:15px; font-family:微软雅黑; color:#1161aa; border-bottom:2px solid #0b73d1;}
.listtitle h1 span{color:#954984; font-size:14px;margin-left:5px;}
.listtitle .more{float:right; margin:10px 0 0 0;height:10px;}
.listcontent{width:693px; margin:15px 0 0 0; }
.listcontent ul li{width:693px; height:25px; line-height:25px; float:left; overflow:hidden;border-bottom:1px dashed #9c9c9c;background:url(../images/bg/dot.jpg) no-repeat 0 10px;}
.listcontent ul li a{max-width:600px;color:#505050; float:left; margin-left:15px;}
.listcontent ul li a:hover{color:#005ca1; }
.listcontent ul li span{float:right;}
.Detail{color:#505050;margin:15px 0 0 0;width:693px;line-height:19px;text-align:justify;}
.line{width:100%;display:block;height:1px;background:url(../images/bg/line.jpg) center top no-repeat;}
#user-func {margin-bottom:20px;height:40px;}
#user-func h2{background:url(../images/bg/user.jpg) 25px center no-repeat;font-weight:normal;height:40px;line-height:40px;text-align:left;padding-left:70px;float:left;display:inline-block;}
#user-func span{float:right;height:40px;line-height:40px;padding-right:20px;display:inline-block;}
#user-func span a{color:#005ca1;}
.leftmenu,.resume-menu {padding-bottom:10px;text-align:left;}
.procedure{text-align:center;}
.leftmenu h2,.resume-menu h2{text-align:left;background:url(../images/bg/line.jpg) center bottom no-repeat;font-size:14px;font-weight:bold;height:30px;line-height:30px;padding-left:30px;}
.leftmenu ul,.resume-menu ul{padding:5px 25px;}
.leftmenu ul li{border-bottom:1px dashed #9c9c9c;height:25px;line-height:25px;padding-left:35px;background:url(../images/bg/arrow1.gif) 20px center no-repeat;}
.resume-menu ul li{border-bottom:1px dashed #9c9c9c;height:30px;line-height:30px;padding-left:35px;background:url(../images/bg/arrow3.gif) 20px center no-repeat;}
.resume-menu ul li.current{border-bottom:1px dashed #9c9c9c;height:30px;line-height:30px;padding-left:35px;background:url(../images/bg/arrow2.gif) 20px center no-repeat #e1f5fe;}
.required{background:url(../images/bg/required.png) center center no-repeat ;width:65px;height:30px;line-height:30px;display:block;float:right;}
.resume-menu div{text-align:center;width:100%;}
.leftmenu ul li.submenu{padding-left:47px;background:none;}
.jobs{border:1px solid #bcbcbc;margin:10px 0;border-top:0;}
.jobs dt{padding:3px;border-top:1px solid #bcbcbc; cursor:pointer; }
.jobs dt.slide{border-bottom:1px solid #bcbcbc;}
.jobs dt p{padding:3px 15px 3px 20px;background:#f6f6f6 url(../images/bg/arrow2.gif) 10px center no-repeat;height:20px;line-height:20px;font-size:14px;font-weight:bold;}
.jobs dt span{float:right;font-size:12px;font-weight:normal;}
.jobs dd{padding:10px 25px;line-height:20px;}
.Btn_Apply{background:url(../images/btn/apply.gif) 0 0 no-repeat;width:97px;height:28px;margin-top:10px;}
.Btn_Apply:hover{background:url(../images/btn/apply.gif) 0 -28px no-repeat;}
.Btn_subResume{background:url(../images/btn/submit.gif) 0 -30px no-repeat;width:92px;height:30px;margin-top:10px;} 
.Btn_subResume:hover{background:url(../images/btn/submit.gif) 0 0 no-repeat;}
.resume,.signin{border:1px solid #bdbcbd;margin:10px 0;padding:10px 20px;}

/*Pagerbar*/
.pagerbar{width:100%;text-align:right;height:50px;line-height:30px;margin-top:15px;}

/*signin*/
.signin {padding-bottom:20px;}
.signin li{margin:15px 0 15px 0;height:30px;line-height:30px;}
.signin li label.lb{width:80px;text-align:right;display:inline-block;padding-right:10px;}
.signin li input.text{border:1px solid #bdbcbd;width:200px;height:20px;line-height:20px;}
#signbtn{width:73px;height:29px;}
.juhua {background: url(images/bg/loading.gif) no-repeat 0 0;}

.border input{height:18px;}
.FormLeft{
	background-color:#F2F2F2;
	height:30px;
}
.FormRight{
	background-color:#FFFFFF;
}
.border{
	background-color:#D9DDE1;
}
.alart {
	COLOR: #ff0000
}